body {
  font-family: Georgia, "Times New Roman",
        Times, serif; }

ul.navbar {
  background-color: #BBD2FF;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: inherit;
  top: 0;
  left: 1em;
  width: 90%; }

h1 {
  color: red;
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif; }

ul.navbar li {
  background-color: #AAD2FF;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 0.3em solid blue;
  color: blue;}

ul.navbar li:hover {
 background-color: #AAD2FF;
 margin: 0.5em 0;
 padding: 0.3em;
 border-right: 0.3em solid red; 
 color: red; 
 cursor: hand;}

ul.navbar a {
  text-decoration: none; }
a:link {
  color: blue }
a:visited {
  color: purple; }
a:hover {
  color: red; }

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted; }
div.index {
width: 20%;
margin: 8px 8px;
top: 14em;
margin-left: 0%;
padding: 10px;
font-size: 90%;
float: left;
position: absolute; }

div.chat {
width: 30%;
top: 14em;
margin: 8px 8px;
margin-left: 70%;
padding: 10px;
border: 1px solid #6699FF;
background-color: #BBD2FF;
font-size: 90%;
float: right;
position: absolute; }

div.login {
background-color: #BBBBBB;
border: 1px solid #888888;
float: right;
height: 10em;
margin: 8px 1% 8px 8px;
margin-left: 78%;
position: absolute;
top: 0;
width: 20%; }

div.login input {
width: 90%; }

div.header {
width: 100%;
height: 12em;
margin-top: 0;
margin: 8px 8px;
margin-left: 0%;
border: 1px solid #6699FF;
background-color: #BBD2FF;
font-size: 90%;
float: center;
position: absolute;
clear: both; }

div.notify {
background-color: #BBBBBB;
border: 1px solid #888888;
float: center;
height: 15%;
margin: 8px 1% 8px 8px;
margin-left: 23%;
position: absolute;
top: 9em;
width: 42%;
clear: none; }

div.blog{
width: 42%;
top: 14em;
margin: 8px 8px;
margin-left: 23%;
padding: 10px;
border: 1px solid #6699FF;
background-color: #BBD2FF;
font-size: 90%;
position: absolute; }
div.blog p {
width: 90%; }
div.blog input {
width: 90%; }
div.blog textarea {
width: 90%; }

div.menu{
width: 42%;
margin-left: 23%;
top: 13em;
font-size: 90%;
float: center;
position: absolute; }

div.menu ul {
list-style-type: none;
margin: 0;
}

div.menu li {
float: left;
margin: 2px;
border: 1px solid #6699FF;
background-color: #99DDFF;
color: blue;
}

div.menu li:hover {
float: left;
margin: 2px;
border: 1px solid #00AAFF;
background-color: #BBDDFF;
color: red;
cursor: hand;
}
